@model IEnumerable<AppointmentContact.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}


<h1>List of Contacts</h1>
<p>@Model.Count() contacts exist</p>


<p>
    <a asp-action="Create" class="btn btn-md btn-success">
        <i class="fa-solid fa-plus"></i> Add Contact
    </a>
</p>
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.first_nm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.last_nm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dob)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email_addr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone_nbr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.city)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.parish)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.first_nm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.last_nm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dob)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email_addr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone_nbr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.city)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.parish)
                    </td>
                    <td>

                        <form asp-action="Delete" asp-route-id="@item.id">
                            <div class="btn-group btn-group-sm">
                                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <button type="submit" class="btn btn-danger delete-btn" onclick="return confirm('Are you sure you want to delete this appointment contact?')">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.first_nm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.last_nm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dob)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email_addr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone_nbr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.city)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.parish)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
    <p class="text-center">No contacts available</p>
    
}

